<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="app.main"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-sdk android:minSdkVersion="14" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />



    <application
        android:icon="@drawable/icon"
        android:theme="@style/app_theme1">
        <activity
            android:name="app.main.TabSample"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="app.alarm.AlarmMainActivity"></activity>
        <activity android:name="app.main.ArrowsActivity" />
        <activity android:name="app.main.ListenAlarmActivity" />
        <activity android:name="app.settings.OptionsActivity" />
        <activity android:name="app.notify.NotifyListActivity" />

        <receiver android:name="app.main.NotificationPublisher" />

        <activity
            android:name="app.main.Player"
            android:label="@string/title_activity_player" />
        <activity
            android:name="app.listen.ListenActivity"
            android:label="@string/title_activity_listen"></activity>
        <activity android:name="app.notify.TestActivity" />
    </application>

</manifest>